# --- Python ---
.venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- uv / Packaging ---
# We keep pyproject.toml and uv.lock, but ignore the build artifacts
dist/
build/
.uv/

# --- Environment/Secrets ---
.env
.venv

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Large data files ---
ibtracs.ALL.list.v04r01.csv
posterior_draws/conjugate_stan_model_posterior_draws.csv
posterior_draws/conjugate_stan_model_posterior_draws.csv
